<ng-container *ngIf="!selected">
  <div nz-col [nzSpan]="6">
    <!-- <form nz-form [formGroup]="form">
      <nz-form-item>
        <nz-form-control [nzSpan]="16">
          <nz-input-group nzPrefixIcon="search" [nzSuffix]="inputClearTp">
            <input formControlName="search" nz-input placeholder="請輸入關鍵字"
              (keypress)="searchList($event)" />
          </nz-input-group>
          <ng-template #inputClearTp>
            <span
              *ngIf="form.get('search')?.value"
              nz-icon class="ant-input-clear-icon"
              nzTheme="fill" nzType="close-circle"
              (click)="form.get('search')?.setValue('')"
            ></span>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </form> -->
  </div>
  <nz-list nzGrid>
    <div nz-row [nzGutter]="48" style="padding-top: 20px;">
      <ng-container *ngFor="let item of displayedList">
        <div nz-col [nzXl]="4" [nzLg]="8" [nzMd]="12" [nzSm]="16" nzSpan="24" style="padding: 10px;" >
          <nz-card class="pointer" [routerLink]="['/judges/detail', item.name]" nzHoverable >
            <nz-card-meta
              [nzAvatar]="avatarTemplate"
              [nzTitle]="item.name"
              [nzDescription]="item.info">
            </nz-card-meta>
          </nz-card>
          <ng-template #avatarTemplate>
            <nz-avatar [nzSize]="120" [routerLink]="['/judges/detail', item.name]">
            </nz-avatar>
          </ng-template>
        </div>
      </ng-container>
      <ng-container *ngIf="displayedList.length === 0">
        <div nz-col [nzSpan]="24">
          <nz-empty nzNotFoundImage="simple"></nz-empty>
        </div>
      </ng-container>
    </div>
  </nz-list>
  <div>
    <nz-pagination
      *ngIf="displayedList.length > 0"
      nzShowSizeChanger
      nzResponsive
      [nzPageIndex]="pageIndex"
      [nzTotal]="total"
      [nzPageSize]="pageSize"
      (nzPageIndexChange)="getJudges($event, pageSize)"
      (nzPageSizeChange)="getJudges(pageIndex, $event)">
    </nz-pagination>
  </div>
</ng-container>

<router-outlet (activate)="onActivate($event)" (deactivate)="selected = null"></router-outlet>



