<div class="div">
  <form class="form" [formGroup]="form" (ngSubmit)="submitForm()">
    <h2>登入</h2>
    <div class="flex-column">
      <label>電子郵件</label>
    </div>
    <nz-form-item nz-col [nzSpan]="24" >
      <nz-form-control nzErrorTip="請輸入電子郵件!">
        <nz-input-group nzPrefixIcon="mail">
          <input formControlName="email" nz-input placeholder="電子郵件" type="email" autocomplete="email"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <div class="flex-column">
      <label>密碼</label>
    </div>
    <nz-form-item nz-col [nzSpan]="24" >
      <nz-form-control nzErrorTip="請輸入密碼!">
        <nz-input-group nzPrefixIcon="lock">
          <input formControlName="password" nz-input placeholder="密碼" type="password" autocomplete="current-password"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <div class="flex-row">
      <label nz-checkbox formControlName="remember">
        <span>記得帳號</span>
      </label>
      <button nz-button nzType="link">忘記密碼?</button>
    </div>

    <button class="button-submit" nz-button>
      登入
    </button>

    <p class="p">
      沒有帳號嗎?<button nz-button nzType="link">註冊</button>
    </p>

    <p class="p line">
      或者以下方式登錄
    </p>
    <div class="flex-row">
      <button class="btn google" nz-button>
        <img src="google.svg">Google
      </button>

      <button class="btn apple" nz-button>
        <img src="apple.svg">Apple
      </button>
    </div>

  </form>
</div>
