<nz-layout>
  <header>
    <div class="app-header">
      <div class="logo">logo</div>
      <nav>
        <ul nz-menu nzTheme="light" nzMode="horizontal" class="header-menu">
          <li nz-menu-item routerLink="/judges" [nzSelected]="isActive('/judges')">法官列表</li>
          <!-- <li nz-menu-item [nzSelected]="isActive('/personal')" routerLink="/personal">個人檔案</li> -->
          <li nz-menu-item routerLink="/login">登入</li>
          <li nz-menu-item routerLink="/backend">管理後臺</li>
        </ul>
      </nav>
    </div>
  </header>
  <nz-content>
    <div class="inner-content">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
  <nz-divider></nz-divider>
  <nz-footer>copyright ©2024</nz-footer>
</nz-layout>
