<div nz-row [nzGutter]="8" *ngIf="!selectedId">
  <ng-container *ngFor="let item of lists">
    <div nz-col [nzSpan]="8" [nzXl]="6" [nzLg]="8" [nzMd]="12" [nzSm]="16" style="padding: 10px;" >
      <nz-card class="pointer" (click)="toMessageBoard(item.id, item.name, item.description, item.avatarUrl)">
        <nz-card-meta
          [nzAvatar]="avatarTemplate"
          [nzTitle]="item.name"
          [nzDescription]="item.description">
        </nz-card-meta>
      </nz-card>
      <ng-template #avatarTemplate>
        <nz-avatar [nzSize]="120" [nzSrc]="item.avatarUrl"
         (click)="toMessageBoard(item.id, item.name, item.description, item.avatarUrl)">
        </nz-avatar>
      </ng-template>
    </div>
  </ng-container>
</div>

<router-outlet (activate)="onActivate($event)"></router-outlet>



