<!-- <div class="container">
  <nz-card>
    <div class="profile-avatar">
      <nz-avatar [nzSize]="128" nzSrc="3.jpg" nzShape="circle"></nz-avatar>
    </div>
    <div nz-col [nzSpan]="24">
      <h2>姓名: momo</h2>
    </div>
    <div nz-col [nzSpan]="24">
      <h2>性別: 女</h2>
    </div>
    <div nz-col [nzSpan]="24">
      <h2>電子郵件: a.0066715&#64;gmail.com</h2>
    </div>
    <div nz-col [nzSpan]="24">
      <h2>手機: 0987654321</h2>
    </div>

    <div class="actions">
      <button nz-button nzType="primary">儲存</button>
      <button nz-button>取消</button>
    </div>
  </nz-card>
</div> -->
